.index-container {
	position: relative;
	height: 100vh;

}

.background-image {
	
  background-image: url('https://www.motociclismo.es/uploads/s1/11/61/84/19/manillar-cafe-racer.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	background-origin: content-box; 
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.background-carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.logo-container {
  /*background-color: #ffb727;
  border-radius: 80%;*/
	margin-bottom: 20px;
}

.logo {
  border-color: white;
	max-width: 100%;
	opacity: 1;
	transition: transform 0.3s ease;
}


.buttons-container {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	margin-right: 10px;
	opacity: 1;
	background-color: #ffb727;
	color: #000000;
	font-size: 1.2rem;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease; /* Agregar efecto de transición al botón */
	text-decoration: none;
}

.button:hover {
	background-color: #fcbf00;
	transform: scale(1.1); /* Agregar efecto de escala al hacer hover */
}

/*Login y Register*/
.formulario{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #313131d2;
	color: #ffffff;
	font-size: 1.2rem;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: Arial;

}

.login {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
.login-container {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.register {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

/*Pedidos recuperados*/
.table-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*background-color: #313131d2;*/
	color: #ffffff;
	font-size: 1.2rem;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: Arial;
	width: 90%; /* Ocupar el 90% de la pantalla */
  }
  
  .table-container table {
	width: 100%;
	border-collapse: collapse;
	border: none;
	border-radius: 10px;
  }
  
  /*.table-container th,
  .table-container td {
	padding: 8px;
	text-align: center;
	border: 1px solid #ddd;
  }*/
  
  .table-container th {
	background-color: #313131d2;
  }

  .order-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.order-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-product-name {
  font-size: 16px;
  font-weight: bold;
}

.order-product-price {
  font-size: 14px;
}


  